.container{
    display: inline-block;
    border: 1px solid black;
}

.box{
    width:100px;
    height: 100px;
    margin: 20px;
    float: left;
}

.yellowColor{
    background-color:yellow;
}
.orangeColor{
    background-color:orangered;
}
.redColor{
    background-color:red;
}